body {
    font-family: 'Lora', serif;

}

body h1 {
    font-size: 30px;
}

section {
    display: flex;
    margin-bottom: 50px;
}

.section-content {
    width: 50%;
    float: left;
}

.section-img {
    width: 50%;
    float: left;
}

.section-content-border {
    border-left: 3px solid green;
    margin-right: 5px;
}

.section-content a {
    text-decoration: none;
    color: white;
    background-color: indianred;
    padding: 10px 30px;
    border-radius: 4px;
    margin: 20px 0;
    display: inline-block;
    ;

}

.section-img img {
    width: 60%;
    margin-left: 10px;
}

.section-uncommon {
    margin-bottom: 50px;
}

.section-uncommon h1 {
    text-align: center;
}

.small-box-wrapper {
    width: 100%;
    display: flex;
}

.small-box {
    width: 33%;
    margin-right: 10px;
    border-radius: 5px;
    ;
}

.small-box-bg1 {
    background-color: rgb(250, 245, 245);
}

.small-box-bg2 {
    background-color: rgb(235, 234, 224);
}

.small-box-bg3 {
    background-color: lemonchiffon;
}

.small-box img {
    width: 40%;
}

.customize-image {
    margin-top: 20px;
}

.customize-image img {
    height: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    ;
}